h1 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

table, td {
    border: 1px solid;
}

form {
    display: inline;
    margin-top: 15px;
}

nav {
    text-align: center;
}

body {
    background-image: url('https://c.pxhere.com/photos/e7/17/coffee_notebook_wooden_background_orange_work_table_office-642063.jpg!d');
    /* color: white; */
    background-repeat: no-repeat;
    background-color: #99715B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: black;
}