<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/setlist/form.css">
    <title>new</title>
</head>
<body>
    <form action="/setlist" method="POST">
        <fieldset id="song-info">
            <legend>song info</legend>
        <label for="title">title * &nbsp&nbsp</label><input type="text" name="title" id="title"> <br>
        <label for="artist">artist * &nbsp&nbsp</label><input type="text" name="artist" id="artist"><br>
        <label for="duration">duration * &nbsp&nbsp</label><input type="text" name="duration" id="duration" placeholder="aprox minutes"><br>
        <label for="genre">genre</label><input type="text" name="genre" id="genre">
        <label for="genre">genre</label><input type="text" name="genre" id="genre" placeholder="optional">
        <label for="genre">genre</label><input type="text" name="genre" id="genre" placeholder="optional"><br>
        <label for="religion">religion</label><input type="text" name="religion" id="religion" placeholder="optional"><br>
    </fieldset> 
        <input type="submit" value="submit" class="button">
    </form>
    <a href="/setlist"><button class="button">back</button></a>
</body>
</html>